@page
@model AMTravel.Pages.DestinacijaJednaModel
@{
}
@if(SessionClass.TipKorisnika=="A")
{
<nav aria-label="Page navigation">  
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" asp-page="./DestinacijaIzmeni" asp-route-id="@Model.TrenutnaDestinacija.Id">Izmeni destinaciju <i class="fas fa-edit"></i></a></li>
        <li class="page-item"><a class="page-link" asp-page="./SmestajDodaj" asp-route-id="@Model.TrenutnaDestinacija.Id">Dodaj smestaj <i class="fas fa-plus-circle"></i></a></li>
        <li class="page-item"><a class="page-link" asp-page="./DestinacijaObrisi" asp-route-id="@Model.TrenutnaDestinacija.Id">Obriši destinaciju <i class="fas fa-plus-circle"></i></a></li>
    </ul>
</nav> 
}

<div class="containter">
 <form method="get">
            <div class="kartica">
                <h1>@Model.TrenutnaDestinacija.Naziv</h1>
                <p>DRŽAVA: @Model.TrenutnaDestinacija.Drzava</p>
                <p>OPIS: @Model.TrenutnaDestinacija.Opis</p>
                <a asp-page="./SmestajSve" asp-route-id="@Model.TrenutnaDestinacija.Id">Prikaži <i class="fas fa-hotel"></i></a>
                <div style="position: center;">
                <img src="images/@Model.TrenutnaDestinacija.Slika" alt="Avatar" style="width: 100%;"> 
                </div>
            </div>
</form>
</div>