@page
@model AMTravel.Pages.DestinacijaSveModel
@{
ViewData["Title"]="Destinacije";
}

<div class="text-center">
    <h1 class="display-4">Destinacije</h1>
</div>


@if(SessionClass.TipKorisnika=="A")
{
<nav aria-label="Page navigation">  
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" asp-page="./DestinacijaDodaj">Dodaj destinaciju <i class="fas fa-plus-circle"></i></a></li>
    </ul>
</nav> 
}

<form method="post">
<div> 
    <select asp-for="IzabranaDrzava" asp-items="Model.SveDrzave" style="margin: 0 auto;">
        <option >Prikaži sve</option>
    </select>
    <button type="submit" class="login-button">Prikaži</button>
</div>
<div class="row">
@foreach (var destinacija in Model.SveDestinacije) 
{
    <div class="column">
       <div class="card">
           <div>
               <a asp-page="./DestinacijaJedna" asp-route-id="@destinacija.Id">
               @if(@destinacija.Slika!=null)
                {
                    <img src="images/@destinacija.Slika" alt="Avatar" style="width:300px;height:200px;"> 
                }
               </a> 
            </div>
            <div class="text-center"><h2>@destinacija.Naziv</h2></div>
               @if(SessionClass.TipKorisnika=="A")
            {
            <div><a asp-page="./DestinacijaIzmeni" asp-route-id="@destinacija.Id"><i class="fas fa-edit"></i></a>
            <a asp-page="./DestinacijaObrisi" asp-route-id="@destinacija.Id"><i class="fas fa-trash-alt"></i></a>
            <a asp-page="./SmestajDodaj" asp-route-id="@destinacija.Id"><i class="fas fa-plus-circle"></i></a></div>
            } 
        </div>
    </div> 
}
</div>
</form>

<link href="path/to/select2.min.css" rel="stylesheet" />
<script src="path/to/select2.min.js"></script>
