@page
@model AMTravel.Pages.SmestajSveModel
@{
ViewData["Title"]="Smestaji";
}

<div class="text-center">
    <h1 class="display-4">Smeštaji</h1>
</div>

<form method="post">
<div class="row">
@foreach (var smestaj in Model.SviSmestaji) 
{
    <div class="column">
    <div class="card">
        <div>
            <a asp-page="./SmestajJedan" asp-route-id="@smestaj.Id">       
                @if(@smestaj.Slika!=null)
                {
                    <img src="images/@smestaj.Slika" alt="Avatar" style="width:300px;height:200px;"> 
                }
            </a>
        </div>
        <div class="text-center"><h2>@smestaj.Naziv</h2></div>
        @if(SessionClass.TipKorisnika=="A")
        {
            <div><a asp-page="./SmestajIzmeni" asp-route-id="@smestaj.Id"><i class="fas fa-edit"></i></a>
            <a asp-page="./SmestajObrisi" asp-route-id="@smestaj.Id"><i class="fas fa-trash-alt"></i></a>
            <a asp-page="./SobaDodaj" asp-route-id="@smestaj.Id"><i class="fas fa-plus-circle"></i></a></div>
        }
    </div>
    </div>
}
</div>
</form>

<link href="path/to/select2.min.css" rel="stylesheet" />
<script src="path/to/select2.min.js"></script>
