@page
@model AMTravel.Pages.SobaJednaModel
@{
}
<div class="containter">
    <form method="get">
        <div class="kartica">
            <h1>@Model.TrenutnaSoba.BrojOsoba</h1>
            <p>BROJ OSOBA: @Model.TrenutnaSoba.BrojOsoba</p>
            <p>CENA: @Model.TrenutnaSoba.Cena</p>
            <p>OPIS: @Model.TrenutnaSoba.Opis</p>
           
                <div style="background-color:rgba(0, 0, 0, 0.2); margin:2%;"><a asp-page="./RezervacijaDodaj" asp-route-id="@Model.TrenutnaSoba.Id">Rezerviši sobu <i class="far fa-calendar-plus"></i></a></div>
            
            <div style="position: center;">
                <img src="images/@Model.TrenutnaSoba.Slika" alt="Avatar" style="width: 100%;"> 
            </div>
          </div>
</form>
</div>