@page
@model AMTravel.Pages.SobaSveModel
@{
ViewData["Title"]="Sobe";
}

<div class="text-center">
    <h1 class="display-4">Sobe</h1>
</div>


@if(SessionClass.TipKorisnika=="A")
{
<nav aria-label="Page navigation">
 <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" asp-page="./SobaDodaj" asp-route-id="@Model.SmestajId">Dodaj sobu  <i class="fas fa-plus-circle"></i></a></li>
  </ul>
</nav>
}
<form method="post">
<div class="row">
@foreach (var soba in Model.SveSobe) 
{
  <div class="column">
    <div class="card">
      <div>
        <a asp-page="./SobaJedna" asp-route-id="@soba.Id">
          @if(@soba.Slika!=null)
          {
            <img src="images/@soba.Slika" alt="Avatar" style="width:300px;height:200px;"> 
          }
        </a>
      </div>
      <div class="text-center"><h2>@soba.BrojSobe</h2></div>
      @if(SessionClass.TipKorisnika=="K")
      {
        <div><a asp-page="./RezervacijaDodaj" asp-route-id="@soba.Id">Rezerviši sobu <i class="far fa-calendar-plus"></i></a></div>
      }
      @if(SessionClass.TipKorisnika=="A")
      {
        <div><a asp-page="./SobaIzmeni" asp-route-id="@soba.Id"><i class="fas fa-edit"></i></a></div>
      }
    </div>
  </div>
}
</div>
</form>

<link href="path/to/select2.min.css" rel="stylesheet" />
<script src="path/to/select2.min.js"></script>
